node_modules/
dist/
coverage/
.tsbuildinfo
*.tsbuildinfo

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm/
.yarn/cache
.yarn/install-state.gz
.pnp.*
